.Product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding: 8px;
  text-align: center;
  font-family: arial;
}

.Price {
  color: rgb(6, 116, 101);
  font-size: 22px;
}

.Product button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(6, 116, 101);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.Product button:hover {
  opacity: 0.7;
}

.Column {
  float: left;
  width: 20%;
  padding: 10px;
}

.Row:after {
  content: "";
  display: table;
  clear: both;
}
